.THIS {
}

.THIS .noSidebarCell {
    margin: 0 !important;
    padding: 0 !important;
}

.THIS .pac-icon {
    float: left;
    margin: 10px 5px 0px 5px;
}

.THIS .pac-item {
    line-height: 20px;
}

.THIS .pac-item-query {
    display: block;
}

.THIS .pac-matched {
    color: red;
}

.THIS .slds-form-element__label {
    max-width: 200px;
}

.THIS .slds-form-element {
    max-width: 700px;
}

.THIS .slds-input__icon-group_right{
    display: none;
}

.THIS .copyAddressBtn {
    width: 100%;
}

.THIS .slds-grid.slds-grid--align-space.slds-wrap {
    width: 100%;
}

.THIS .forceStyle.desktop .viewport{
    overflow: hidden !important;
}

.THIS .selectListItem :hover {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.THIS .forceStyle .viewport .oneHeader {
    z-index: 0; 
} 

.THIS .slds-global-header_container {
    position: static;
} 

.THIS .forceStyle.desktop .viewport{
    overflow: hidden;
}

.THIS .spinnerContainer{
    position: relative;
    display: inline-block;
    width: 100%;
}

.THIS .spinnerText{
    padding-top: .5rem;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}